defaults:
  - _self_

_target_: cell_observatory_platform.data.databases.supabase_database.SupabaseDatabase
dbname: 'prod'

dotenv_path: ${paths.dotenv_path}

input_shape: ${datasets.input_shape} # shape of the input data
dataset_layout_order: ${dataset_layout_order} # dataset layout in the zarr files (e.g. ZYXC)

max_rois: ${datasets.max_rois} # maximum number of ROIs (each ROI can have dozens of tiles)
max_tiles: ${datasets.max_tiles} # maximum number of tiles (each tile can have thousands of hypercubes)
max_hypercubes: ${datasets.max_hypercubes} # maximum number of hypercubes to return

hpf_list: ${datasets.hpf_list} # list of specific HPFs (hours-post-fertilization in hours) to filter
roi_list: ${datasets.roi_list} # list of specific ROIs to filter
tile_list: ${datasets.tile_list} # list of specific tiles to filter
timepoint_list: null # list of specific timepoints to filter

occupancy_threshold: ${datasets.occupancy_threshold} # to filter our hypercubes with less than this occupancy ratio (0.0-1.0)
occupancy_threshold_filter_type: 'min_ch0'

verbose: true # to print debug messages
hypercubes_dataframe_path: ${datasets.hypercubes_dataframe_path}
use_cached_hypercubes_dataframe: ${datasets.use_cached_hypercubes_dataframe} # if True, will use the cached hypercubes dataframe from the given path
fetch_hypercubes_dataframe: true
protocol: cursor # protocol used to fetch data from source (default is 'binary', can also be 'csv' or 'cursor')
server_folder_path: ${paths.server_folder_path}