# Ignore build artifacts and metadata
build/
dist/
*.egg-info/
*.egg

# Ignore compiled Python files and cache
__pycache__/
*.py[cod]
*.so

# Ignore compiled ops3d extension
src/ops3d/_C.*.so

# Ignore VSCode, Jupyter, and system clutter
.vscode/
.ipynb_checkpoints/
.DS_Store

# Ignore modules that are not finalized
src/segmentation/models/backbones/swinTransformer.py
src/segmentation/models/decoders/dino_decoder.py
src/segmentation/models/decoders/maskdino_decoder.py
src/segmentation/models/decoders
src/segmentation/models/encoders/maskdino_pixel_decoder.py
src/segmentation/models/encoders/positional_encoding.py