_target_: cell_observatory_finetune.models.meta_arch.preprocessor.FinetunePreprocessor

task: instance_segmentation
with_masking: false
mask_generator: null
dtype: ${quantization}

transforms_list: 
  - _target_: cell_observatory_platform.data.transforms.normalize.NormalizeRayWrapper
    input_layout:
      _target_: cell_observatory_platform.data.data_shapes.MULTICHANNEL_HYPERCUBE
      value: ${dataset_layout_order}

patch_shape: ${datasets.patch_shape}
input_format: ${dataset_layout_order}
input_shape: ${datasets.input_shape}

seed: ${seed}
ideal_psf_path: null
na_mask_thresholds: null
resize_na_masks: null
mask_idx: -1