BUILD: cell_observatory_finetune.models.meta_arch.plainDETR.BUILD

backbone_wrapper_args:
  BUILD: cell_observatory_finetune.models.heads.plain_detr_backbone.BUILD
  backbone_embed_dims: [1024, 1024, 1024, 1024]
  train_backbone: true
  use_layernorm: true
  blocks_to_train: null
  out_layers: [10, 14, 18, 22]
  adapter_out_layers: [1] # [0, 1, 2, 3] to use all adapter features
  backbone_args: ${models.backbones.mae}

# Adapter
adapter_args:
  BUILD: cell_observatory_finetune.models.adapters.vit_adapter.BUILD
  input_format: ${dataset_layout_order}
  input_shape: ${datasets.train_shape}
  patch_shape: ${datasets.patch_shape}
  input_channels: ${tasks.input_channels}
  dtype: ${quantization}
  dim: 3
  backbone_embed_dim: ${models.backbones.mae.embed_dim}
  num_backbone_features: 4
  add_vit_feature: true
  conv_inplane: 64
  use_deform_attention: false
  n_points: 4
  n_levels: 1
  deform_num_heads: 16
  drop_path_rate: 0.3
  init_values: 0.0
  with_cffn: true
  cffn_ratio: 0.5
  deform_ratio: 0.5
  use_extra_extractor: true
  strategy: axial
  spatial_prior_module_strides:
    stem1: [2, 2, 2]
    stem2: [1, 1, 1]
    stem3: [1, 1, 1]
    maxpool: 2
    stage2: [2, 2, 2]
    stage3: [2, 2, 2]
    stage4: [2, 2, 2]

# Transformer
transformer_args:
  BUILD: cell_observatory_finetune.models.heads.plain_detr_transformer.BUILD
  d_model: 384
  nheads: 8
  num_feature_levels: 1
  two_stage: true
  norm_type: pre_norm
  decoder_type: global_rpe_decomp
  proposal_feature_levels: 3
  proposal_in_stride: 8
  proposal_tgt_strides: [4, 8, 16]
  proposal_min_size: 16
  add_transformer_encoder: true
  dim_feedforward: 2048
  dropout: 0.0
  activation: relu
  normalize_before: true
  num_encoder_layers: 6
  global_decoder_args:
    hidden_dim: 384
    dropout: 0.0
    proposal_in_stride: 8
    norm_type: pre_norm
    dim_feedforward: 2048
    num_heads: 8
    qkv_bias: true
    qk_scale: null
    attn_drop: 0.0
    proj_drop: 0.0
    dec_layers: 6
    look_forward_twice: true
    rpe_hidden_dim: 512
    rpe_type: linear
    reparam: true

# Criterion
criterion_args:
  BUILD: cell_observatory_finetune.training.losses.build_plainDETR_Set_Loss
  num_classes: 2
  weight_dict:
    loss_ce: 2.0
    loss_bbox: 5.0
    loss_giou: 2.0
  losses: ["labels", "boxes", "cardinality"]
  focal_alpha: 0.25
  reparam: true
  matcher_args:
    BUILD: cell_observatory_finetune.models.utils.matchers.build_plain_detr_matcher
    cost_class: 2.0
    cost_bbox: 5.0
    cost_giou: 2.0
    cost_bbox_type: reparam

# PlainDETR flags
backbone_embed_dim: ${models.backbones.mae.embed_dim}
num_classes: 2
num_feature_levels: 1
with_box_refine: true
two_stage: true
aux_loss: false
num_queries_one2one: 200
num_queries_one2many: 0
k_one2many: 0
mixed_selection: true
reparam: true
lambda_one2many: 1.0
normalize_pos_encodings: true